<head>


    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home Page</a>
            <div class="ml-auto">
                <a href="/admin/alltoys" role="button">Admin</a>
                <a href="/boytoy" role="button">Customer</a>
            </div>
        </div>
    </nav>

</head>